<!doctype html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title><%= title %></title>
    <style>
    label{margin-right:10px;}
    .form-control {margin-right:10px;}
    .form-inline {margin-bottom:20px;}
    </style>
    
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
          <div class="container">
              <a class="navbar-brand" href="/"><%= title %></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="/subjects">전체 과목</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/subjects/my">나의 과목</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/tests">나의 시험</a>
                  </li>
                  <% if (user) {%>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <%=user.name%> 님
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/users/mypage">나의 정보</a>
                      <a class="dropdown-item" href="#">계정설정</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="/users/sign_out">로그아웃</a>
                    </div>
                  </li>
                  <% } else { %>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      로그인/가입
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/users/sign_in">로그인</a>
                      <a class="dropdown-item" href="/users/sign_up">가입</a>
                    </div>
                  </li>
                  <% } %>
                </ul>
              </div>
          </div>
        </nav>
    <div class="container">
        <div class="jumbotron" style="background-color: white;">
            <h1 class="display-4">강의 만들기</h1>
            <p class="lead">강의 만들기 위한 form 페이지 이 부분 논의해서 라우팅 처리 해야함.
            </p>
            <form action="./<%=id%>" method="post" content-type="application/x-www-form-urlencoded">
              <div class="form-group">
                <label for="lectureName">강의 이름</label>
                <input type="text" name="name" class="form-control" id="lectureName" aria-describedby="nameHelp" placeholder="과목 이름 입력">
                <small id="nameHelp" class="form-text text-muted">강의 이름을 입력해주세요</small>
              </div>
              <div class="form-group">
                <label for="startDate">시작일</label>
               <input type="datetime-local" name="start_date" class="form-control" id="exampleInputEmail1" aria-describedby="startDateHelp" placeholder="시작 날짜 입력">
                <small id="startDateHelp" class="form-text text-muted">시작 날짜와 시간을 입력해주세요</small>
              </div>
              <div class="form-group">
                <label for="endDate">종료일</label>
                <input type="datetime-local" name="end_date" class="form-control" id="personalName" aria-describedby="endDateHelp" placeholder="종료 날짜 입력">
                <small id="endDateHelp" class="form-text text-muted">종료 날짜와 시간을 입력해주세요</small>
              </div>
              <!--키워드: Dynamically add or remove input field-->
              
              <div class="form-inline" id="keywordAdd">
                  <label for="keyword">키워드</label>
                  <input type="type" name="keyword" class="form-control" id="keyword" placeholder="키워드 이름 입력">  
                  <input type="number" name="importance" class="form-control" id="importance" placeholder="중요도 숫자 입력">
                  <div class="input-group-btn">
                   <button type="button" class="btn btn-success" onclick="">입력</button>
                  </div>
              </div>
              <!--키워드 다중 입력 해결되지 않음!!-->
              <!-- <div class="form-group">
                <label for="keyword">키워드</label>
                <form id="keywordAdd">
                  <table class="table table-borderless" id="dynamic_field">
                    <tr>
                      <td><input type="text" name="keyword" class="form-control" id="keyword" placeholder="키워드 이름 입력"></td>
                      <td><input type="number" name="importance" class="form-control" id="importance" placeholder="중요도 숫자 입력"></td>
                      <td><button type="button" name="add_more" class="btn btn-success" id="add_more">Add more</button></td>
                    </tr>
                  </table>
                </form>
              </div> -->
              <button type="submit" class="btn btn-primary">강의 생성</button>
             </form>    
          </div>
    </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--Add keyword button-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--키워드 추가 입력 기능은 아직 작업중!-->
    <!-- <script> 
        $(document).ready(function(){
          var i = 1;
          $('#dynamic_field').on('click', '#add_more', function(){
            i++;
            $('#dynamic_field').append('<tr id="row'+i+'"><td><input type="text" name="keyword" class="form-control" id="keyword[]" placeholder="키워드 이름 입력"></td><td><input type="number" name="importance" class="form-control" id="importance" placeholder="중요도 숫자 입력"></td><td><button type="button" name="remove" class="btn btn-danger btn_remove" id="'+i+'">Remove</button></td></tr>');
            $(document).on('click', '.btn_remove', function(){
              var button_id = $(this).attr("id");
              $('#row'+button_id+'').remove();
            });
          });
        });
      </script> -->
  </body>
</html>