<!doctype html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title><%= title %></title>
    <style>
        label{margin-right:10px;}
        .form-control {margin-right:10px;}
        .form-row {margin-bottom:20px;}
        .form-inline {margin-bottom:20px;}
    </style>
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
          <div class="container">
              <a class="navbar-brand" href="#"><%= title %></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="./subjects">전체 과목</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./subjects/my">나의 과목</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./tests">나의 시험</a>
                  </li>
                  <% if (user) {%>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <%=user.name%> 님
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="./users/mypage">나의 정보</a>
                      <a class="dropdown-item" href="#">계정설정</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="./users/sign_out">로그아웃</a>
                    </div>
                  </li>
                  <% } else { %>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      로그인/가입
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="./users/sign_in">로그인</a>
                      <a class="dropdown-item" href="./users/sign_up">가입</a>
                    </div>
                  </li>
                  <% } %>
                </ul>
              </div>
          </div>
        </nav>
    <div class="container">
      
    <div class="jumbotron" style="background-color: white;">
        <h1 class="display-4">문항 만들기</h1>
        <p class="lead">문항 만들기 위한 form 페이지 이 부분 논의해서 라우팅 처리 해야함.
        </p>
          <div class="card text-left">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs">
                <!--1인 경우 객관식, 2인 경우 단답형 활성화 -->
                <% if (id == 1) {%> 
                  <li class="nav-item">
                    <a class="nav-link active" href="../make/1">객관식</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../make/2">단답형</a>
                  </li>
                <%} else{%>
                  <li class="nav-item">
                    <a class="nav-link" href="../make/1">객관식</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="../make/2">단답형</a>
                  </li>
                <%}%>  
              </ul>
            </div>
            <div class="card-body">
              <form>
                  <% if (id == 1) {%> 
                    <div class="form-group">
                      <label for="askInput">문항 제목(ask)</label>
                      <textarea class="form-control" id="askInput" placeholder="문제를 입력하세요"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="contentInput">문항 설명(content)</label>
                        <textarea class="form-control" id="contentInput" placeholder="정답을 입력하세요"></textarea>
                      </div>
                    <div class="form-group">
                      <label for="contentInput">정답</label>
                      <!--보기 시작-->
                      <div class="form-row" id="contentInput1">
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="gridCheck1">
                              <label class="form-check-label" for="gridCheck1">
                                1번    
                              </label>
                            </div>
                          <div class="col">
                              <input type="type" name="contentInput1" class="form-control" id="contentInput1" placeholder="보기 1번">  
                          </div>
                       </div>
                       <div class="form-row" id="contentInput2">
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="gridCheck2">
                              <label class="form-check-label" for="gridCheck2">
                                2번    
                              </label>
                            </div>
                          <div class="col">
                              <input type="type" name="contentInput2" class="form-control" id="contentInput2" placeholder="보기 2번">  
                          </div>
                       </div>
                       <div class="form-row" id="contentInput3">
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="gridCheck3">
                              <label class="form-check-label" for="gridCheck3">
                                3번    
                              </label>
                            </div>
                          <div class="col">
                              <input type="type" name="contentInput3" class="form-control" id="contentInput3" placeholder="보기 3번">  
                          </div>
                       </div>
                       <div class="form-row" id="contentInput4">
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="gridCheck4">
                              <label class="form-check-label" for="gridCheck4">
                                4번    
                              </label>
                            </div>
                          <div class="col">
                              <input type="type" name="contentInput2" class="form-control" id="contentInput4" placeholder="보기 4번">  
                          </div>
                       </div>
                       <div class="form-row" id="contentInput5">
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="gridCheck5">
                              <label class="form-check-label" for="gridCheck2">
                                5번    
                              </label>
                            </div>
                          <div class="col">
                              <input type="type" name="contentInput5" class="form-control" id="contentInput5" placeholder="보기 5번">  
                          </div>
                       </div>
                       <!--보기 끝-->
                    </div>
                    <div class="form-group" id="keywordAdd">
                        <label for="keyword">키워드</label>
                        <div class="form-inline">
                          <input type="type" name="keyword" class="form-control" id="limit" placeholder="키워드 이름 입력">  
                          <input type="number" name="importance" class="form-control" id="importance" placeholder="중요도 숫자 입력">
                          <div class="input-group-btn">
                          <button type="button" class="btn btn-success" onclick="">입력</button>
                        </div>
                        </div>
                    </div>
                    <div class="form-group" id="difficultySet">
                        <label for="difficulty">난이도</label>
                        <div class="form-inline">
                          <input type="number" name="difficulty" class="form-control" id="difficulty" placeholder="0~10">
                          <div class="input-group-btn">
                              <button type="button" class="btn btn-success" onclick="">입력</button>
                          </div>
                        </div>  
                    </div>
                    <div class="form-group" id="timelimitSet">
                        <label for="difficulty">풀이 시간 설정 (초 단위)</label>
                        <input type="number" name="timelimit" class="form-control" id="timelimit" placeholder="00초">
                    </div>
                    <button type="submit" class="btn btn-primary">만들기</button>
                  <%} else{%>
                    <div class="form-group">
                      <label for="askInput">문항 제목(ask)</label>
                      <textarea class="form-control" id="askInput" placeholder="제목을 입력하세요"></textarea>
                    </div>
                    <div class="form-group">
                      <label for="contentInput">문항 설명(content)</label>
                      <textarea class="form-control" id="contentInput" placeholder="정답을 입력하세요"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="contentInput">정답(ans1)</label>
                        <textarea class="form-control" id="contentInput" placeholder="정답을 입력하세요"></textarea>
                      </div>
                      <div class="form-group" id="keywordAdd">
                          <label for="keyword">키워드</label>
                          <div class="form-inline">
                            <input type="type" name="keyword" class="form-control" id="limit" placeholder="키워드 이름 입력">  
                            <input type="number" name="importance" class="form-control" id="importance" placeholder="중요도 숫자 입력">
                            <div class="input-group-btn">
                            <button type="button" class="btn btn-success" onclick="">입력</button>
                          </div>
                          </div>
                      </div>
                      <div class="form-group" id="difficultySet">
                          <label for="difficulty">난이도</label>
                          <div class="form-inline">
                            <input type="number" name="difficulty" class="form-control" id="difficulty" placeholder="0~10">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-success" onclick="">입력</button>
                            </div>
                          </div>  
                      </div>
                      <div class="form-group" id="timelimitSet">
                          <label for="difficulty">풀이 시간 설정 (초 단위)</label>
                          <input type="number" name="timelimit" class="form-control" id="timelimit" placeholder="00초">
                      </div>
                    <button type="submit" class="btn btn-primary">만들기</button>
                  <%}%>
              </form>
            </div>
          </div>
      </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>