<!doctype html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title><%= title %></title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
      <div class="container">
          <a class="navbar-brand" href="../"><%= title %></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">메인<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="./subjects">나의 과목</a>
              </li>
              <% if (user) {%>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= user.emailID %>(<%=user.name%>)
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="./users/mypage">나의 정보</a>
                  <a class="dropdown-item" href="#">계정설정</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="./users/sign_out">로그아웃</a>
                </div>
              </li>
              <% } else { %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  계정 관리
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="./users/sign_in">로그인</a>
                  <a class="dropdown-item" href="./users/sign_up">가입</a>
                </div>
              </li>
              <% } %>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
      </div>
    </nav>
      <div class="container">
        <div class="jumbotron" style="background-color: white;">
          <h1 class="display-6">Test name in here.</h1>
          <p class="lead">Test range or explanation in here.</p>
          <div class="alert alert-warning" role="alert">
              총 m/n 번째 문항<br>
              해당문항 남은 시간: 00:00
          </div>
          <hr class="my-4">
          <!-- 단답형 문제용 템플릿 -->
          <div class="card">
            <h5 class="card-header">문제 #n (단답형 템플릿)</h5>
            <div class="card-body">
              <h5 class="card-title">빈칸에 알맞은 말을 찾아서 한 단어로 작성하시오.</h5>
              <p class="card-text">2NF와 _________________를 동시에 만족하는 정규형을 3NF라고 한다.</p>
              <form>
                <div class="form-group">
                  <label for="answer">답: </label>
                  <input type="text" class="form-control" id="answer"" placeholder="답안">
                </div>
                <button type="submit" class="btn btn-info">답안제출</button>
              </form>
            </div>
          </div>
          <hr class="my-4">
          <!-- 객관식 문제용 템플릿 -->
          <div class="card">
            <h5 class="card-header">문제 #n (객관식 문제용 템플릿)</h5>
            <div class="card-body">
              <h5 class="card-title">정규형과 그 특성이 알맞게 짝지어진 것을 고르시오.</h5>
              <p class="card-text">필요한 경우에 설명 넣는 공간</p>
              <form>
                <div class="form-group">
                  <div class="form-check">
                    <!-- value에 받았을 때 답 번호 넣어주어야함-->
                    <!-- 선지 제공할 때 섞은 순서로 제공하기 때문 -->
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                      1NF - no composite, multivalued attributes
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                    <label class="form-check-label" for="defaultCheck2">
                      2NF - non-prime attribute has a key
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                    <label class="form-check-label" for="defaultCheck3">
                      3NF - when X->A, X is key or A is prime attribute
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
                    <label class="form-check-label" for="defaultCheck4">
                      4NF - no multivalued dependency
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
                    <label class="form-check-label" for="defaultCheck5">
                      5NF - no join dependency
                    </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-info">답안제출</button>
              </form>
            </div>
          </div>
          <hr class="my-4">
          <!-- 사진있는 문제용 템플릿 -->
          <div class="card">
              <h5 class="card-header">문제 #n (단답형 템플릿)</h5>
              <img src="" class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title">빈칸에 알맞은 말을 찾아서 한 단어로 작성하시오.</h5>
                <p class="card-text">2NF와 _________________를 동시에 만족하는 정규형을 3NF라고 한다.</p>
                <form>
                  <div class="form-group">
                    <label for="answer">답: </label>
                    <input type="text" class="form-control" id="answer"" placeholder="답안">
                  </div>
                  <button type="submit" class="btn btn-info">답안제출</button>
                </form>
              </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../javascripts/test.js"></script>
  </body>
</html>